@()(implicit session: Session)

@import controllers.PageUtil

<!doctype html>

<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>index</title>
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/app.css">
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/angular-route.min.js"></script>
<script src="js/angular-cookies.min.js"></script>

</head>
<body>
 <div class="bs-docs-header" id="content" tabindex="-1">
  <div class="container">
   <h1>DMP</h1>
   <p>welcome!</p>
  </div>
 </div>

 <div class="container">
  <div class="row clearfix">
   <div class="col-md-12 column">

    <ul class="breadcrumb">
     <li><a active>首頁</a></li>
    </ul>

    <div class="row clearfix">
     <div class="col-md-6 column">
      <div class="jumbotron">
       <h2>演示页面</h2>
       <p>文案文案文案文案文案文案文案文案文案文案文案文案文案文案</p>
       <p>
        <a class="btn btn-primary btn-large" href="/interface">演示页面</a>
       </p>
      </div>
     </div>

     <div class="col-md-6 column">
      <div class="jumbotron">
       <h2>分析页面</h2>
       <p>文案文案文案文案文案文案文案文案文案文案文案文案文案文案</p>
       <p>
        <a class="btn btn-primary btn-large" href="/analyse">分析页面</a>
       </p>
      </div>
     </div>
    </div>

   </div>
  </div>
 </div>
</body>
</html>
